body{
    margin: 80px auto;
    width: 70px auto;
    background:url('./m2.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;   

    /* img { */
border-radius: 8px;

        margin: 80px auto;
        text-align: center;
        background-color: #e4ebe8;
       border-radius: 10px;
    border: 4px double #cccccc;
    font-size:28px;
    width: 300px;
    

    }